In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
exs=pd.read_csv("BuyerRatio.csv")

In [3]:
exs

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
a=np.array([[50,142,131,70],[435,1523,1356,750]])

In [5]:
a

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [6]:
chi2_contingency(a)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))